.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.sky{
    background-color: sky;
}
.silver{
    background-color: silver;
}
.gold{
    background-color: gold;
}
.bold{
    font-size: bold;
}